.pink {
    height: 50px;
    width: 100px;
    background: pink;
    border: solid 2px rgb(200, 100, 50);
}
#sub{
    display: block;
}
body {
    background: #ddd;
}
nav {
    background-color: rgb(51, 51, 51);
}
.hero-image{
    width: 100%;
}
li:nth-child(1) a {
    color: green;
}
#first {
    background-color: #19b391;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
}
#second {
    background-color: #e2721f;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.button{
    background-color: #29c566;
    border: #23a456 2px solid;
}
